* {
  font-size: 20px;
}
body {
  background-color: #c9c9c9;
}
.todo {
  margin: 0 auto;
  max-width: 75vw;
  height: 100vh;
}
.todo__add-task {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #2da9cf;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.todo__add-task_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0px;
}
.todo__add-task_form input {
  box-sizing: border-box;
  width: 30vw;
  font-size: 1.2rem;
}
.todo__add-task_form .task_input {
  background-color: #c9c9c9;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
}
.todo__add-task_form div {
  display: flex;
  justify-content: center;
  position: relative;
  width: 30vw;
  margin-bottom: 15px;
}
.todo__add-task_form div input {
  width: 50%;
}
.todo__add-task_form button {
  width: 30%;
  align-items: center;
  background-color: #c9c9c9;
  border: 2px solid #818075;
  border-radius: 5px;
  padding: 10px 0;
  color: #728b8d;
}
.todo__add-task_form button:hover {
  background-color: #2cdd09;
  border: 2px solid #111111;
  border-radius: 5px;
}
.todo__add-task_form input[type="file"] {
  display: none;
}
.todo__add-task_form .file-upload {
  font-size: 1.2rem;
  padding: 5px 15px 5px 20px;
  margin-right: 35px;
}
.todo__add-task_form .date {
  margin-left: 5px;
  padding: 8px 5px;
  font-size: 0.8rem;
  min-width: 150px;
}
.todo__add-task_form .date_label {
  font-size: 0.6rem;
  color: #c9c9c9;
  text-transform: uppercase;
}
.todo__add-task_form .file-upload,
.todo__add-task_form .date {
  position: relative;
  background-color: #2da9cf;
  color: #c9c9c9;
  border: 2px solid #818075;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
}
.todo__add-task_form .file-upload:hover,
.todo__add-task_form .date:hover {
  border-color: #111111;
  background-color: rgba(2, 2, 2, 0.219);
  color: #2cdd09;
}
.todo__add-task_form .upload {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #2cdd09;
  top: 100%;
  left: 58%;
  transform: translate(-100%, -93%);
}
.todo__add-task_form .upload-no {
  display: none;
}
.list {
  background-color: #818075;
  padding: 2% 5%;
  display: flex;
  flex-wrap: wrap;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  gap: 25px;
}
.list .task {
  position: relative;
  padding: 7px;
  border: 2px solid #000000;
  display: grid;
  width: 30vw;
  grid-template-areas: 'img title title' 'img descr descr' 'done edit del' 'timeStart finish deadline';
  grid-template-columns: 1fr 1fr 1fr;
}
.list .task_title,
.list .task_descr {
  background-color: #818075;
  border: none;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  margin-bottom: 10px;
  cursor: pointer;
}
.list .task_title {
  grid-area: title;
}
.list .task_descr {
  grid-area: descr;
}
.list .task_img {
  grid-area: img;
}
.list .task_time {
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  padding: 0 ;
}
.list .task_btn {
  cursor: pointer;
}
.list .task_btn:hover {
  color: #2da9cf;
}
.list .task_time-start {
  grid-area: timeStart;
}
.list .task_time-finish {
  grid-area: finish;
}
.list .task_time-deadline {
  grid-area: deadline;
}
.list .task_done {
  grid-area: done;
}
.list .task_edit {
  grid-area: edit;
  margin: 0 10px;
}
.list .task_del {
  grid-area: del;
}
.list .task .task-complite {
  text-decoration: line-through rgba(187, 15, 15, 0.8) 5px;
}
.list .task_time-end {
  color: rgba(187, 15, 15, 0.8);
}
.list .task button {
  margin-top: 10px !important;
}
.list .task img {
  max-width: 120px;
}
